{{define "auth/signup"}}
<div class="uk-container uk-margin-large-top">
    {{if .SMTPDisabled }}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Mail server not configured.  You will not receive an email verification link.</p>
    </div>
    {{end}}
    {{if .IsClosed }}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.ClosePoolMsg}}</p>
    </div>
    {{end}}
    {{range .FlashError}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.}}</p>
    </div>
    {{end}}
    {{range .FlashSuccess}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.}}</p>
    </div>
    {{end}}
    <h6 style="{{if .FlashSuccess}}display: none;{{end}}">Sign Up</h6>
    <div class="uk-flex-center {{if .FlashSuccess}}display: none;{{end}}" uk-grid>
        <form method="post" class="uk-form-stacked uk-width-1-2@m">
            <div class="uk-margin">
                <label class="uk-form-label" for="email">Email:</label>
                <div class="uk-form-controls">
                    <input name="email" type="email" class="uk-input" id="email" placeholder="Email" required>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="password">Password:</label>
                <div class="uk-form-controls">
                    <input name="password" type="password" class="uk-input" id="password" placeholder="Password" required>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="password">Confirm password:</label>
                <div class="uk-form-controls">
                    <input name="passwordrepeat" type="password" class="uk-input" id="password" placeholder="Confirm password" required>
                </div>
            </div>
            <div class="uk-margin uk-text-center">
                <button id="signin" name="signin" type="submit" class="uk-button uk-button-default" {{if .IsClosed }}disabled{{end}}>Sign Up</button>
            </div>
            <div class="uk-margin uk-text-center">
                <div class="g-recaptcha float-xs-right" style="margin-right:8px" data-sitekey="{{.RecaptchaSiteKey}}" data-theme="dark"></div>
            </div>
            <div class="uk-margin uk-margin-large-top uk-position-relative">
                <div class="uk-position-center-left">
                    <a href="/passwordreset">Forgot your password?</a>
                </div>
                <div class="uk-position-center-right">
                    <a href="/signin">Already have an account?</a>
                </div>
            </div>
            <input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
        </form>
    </div>
</div>
{{end}}
