{{define "auth/signin"}}
<div class="uk-container uk-margin-large-top">
    {{range .Flash}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.}}</p>
    </div>
    {{end}}
    {{if .IsClosed }}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.ClosePoolMsg}}</p>
    </div>
    {{end}}
    <h6>Sign in</h6>
    <div class="uk-flex-center" uk-grid>
        <form method="post" class="uk-form-stacked uk-width-1-2@m">
            <div class="uk-margin">
                <label class="uk-form-label" for="email">Email:</label>
                <div class="uk-form-controls">
                    <input name="email" type="email" class="uk-input" id="email" placeholder="Email">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="password">Password:</label>
                <div class="uk-form-controls">
                    <input name="password" type="password" class="uk-input" id="password" placeholder="Password">
                </div>
            </div>
            <div class="uk-margin uk-text-center">
                <button id="signin" name="signin" type="submit" class="uk-button uk-button-default">Sign in</button>
            </div>
            <div class="uk-margin uk-margin-large-top uk-position-relative">
                <div class="uk-position-center-left">
                    <a href="/passwordreset">Forgot your password?</a>
                </div>
                <div class="uk-position-center-right">
                    <a href="/signup">New user?</a>
                </div>
            </div>
            <input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
        </form>
    </div>
</div>
{{end}}
