{{define "emailverify"}}
<div class="uk-container uk-margin-large-top">
    {{range .FlashError}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.}}</p>
    </div>
    {{end}}
    {{range .FlashSuccess}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.}}</p>
    </div>
    {{end}}
    <h6>Email Verify</h6>
    <div class="uk-flex-center" uk-grid>
        {{if .FlashSuccess}}
        <div class="uk-width-1-2@m uk-text-center">
            <p>You may now <a href="/signin">sign in</a> with your new email address.</p>
        </div>
        {{end}}
    </div>
</div>
{{end}}
