{{define "error"}}
<div class="uk-container uk-margin-large-top">
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{if .RateLimited}}
            Rate Limited
            {{end}}
            {{if not .RateLimited}}
            {{if eq .RPCStatus "Running"}}Temporary{{end}} Error
            {{end}}
        </p>
    </div>
    <h6>We could not process your request</h6>
    <div class="uk-flex-center" uk-grid>
        {{if .RateLimited}}
        <p>Your request has been rate limited to lighten the load on the servers.
            {{if .Referer}}<a href="{{ .Referer }}">{{end}}Please re-try your request.{{if .Referer}}</a>{{end}}
        </p>
        {{end}}
        {{if not .RateLimited}}
        {{if eq .RPCStatus "Running"}}
        <p>A temporary error occurred. This can happen due to RPC results being temporarily out of sync.
            {{if .Referer}}<a href="{{ .Referer }}">{{end}}Please re-try your request.{{if .Referer}}</a>{{end}}
        </p>
        {{end}}
        {{if eq .RPCStatus "Stopped"}}
        <p>Stakepool is currently not processing RPC commands so most functionality of the web interface will not work until connections to the RPC server is restored.  <b>Wallets are still online and voting.</b></p>
        {{end}}
        {{end}}
    </div>
</div>
{{end}}

