{{define "main"}}
{{template "header" .}}
<div uk-grid>
    <div class="uk-width-expand top">
        <div class="uk-container">
            <div class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li><a href="/"><img class="uk-logo" src="/assets/images/logo.svg" /></a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right uk-visible@m">
                    <ul class="uk-navbar-nav">
                        {{if .Admin}}<li class="{{if .IsAdminTickets}}uk-active{{end}}"><a href="/admintickets">Add Low Fee Tickets</a></li>{{end}}
                        {{if .Admin}}<li class="{{if .IsAdminStatus}}uk-active{{end}}"><a href="/status">Status</a></li>{{end}}  
                        <li class="{{if .IsIndex }}uk-active{{end}}"><a href="/">Home</a></li>
                        <li class="{{if .IsStats }}uk-active{{end}}"><a href="/stats">Stats</a></li>
                        {{if .User}}<li class="{{if .IsAddress }}uk-active{{end}}"><a href="/address">Address</a></li>{{end}}
                        {{if .User}}<li class="{{if .IsSettings }}uk-active{{end}}"><a href="/settings">Settings</a></li>{{end}}
                        {{if .User}}{{if .User.MultiSigAddress}}<li class="{{if .IsTickets }}uk-active{{end}}"><a href="/tickets">Tickets</a></li>{{end}}{{end}}
                        {{if .User}}{{if .User.MultiSigAddress}}<li class="{{if .IsVoting }}uk-active{{end}}"><a href="/voting">Voting</a></li>{{end}}{{end}}
                        {{if .User}}
                        <li><a href="/logout">Logout</a></li>
                        {{else}}
                        {{if .IsEmailUpdate }}<li><a href="/emailupdate">Email Update</a></li>{{end}}
                        {{if .IsEmailVerify }}<li><a href="/emailverify">Email Verification</a></li>{{end}}
                        {{if .IsPasswordReset }}<li><a href="/passwordreset">Password Reset</a></li>{{end}}
                        {{if .IsPasswordUpdate }}<li><a href="/passwordupdate">Password Update</a></li>{{end}}
                        <li><a href="/signin">Sign In</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        {{end}}
                    </ul>
                </ul>
            </div>
            <div class="uk-navbar-right uk-hidden@m">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-overlay"></a>
            </div>
            <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <a href="/"><img class="uk-logo" src="/assets/images/logo.svg" />
                        <ul class="uk-nav uk-nav-default">
                            {{if .Admin}}<li class="{{if .IsAdminTickets}}uk-active{{end}}"><a href="/admintickets">Add Low Fee Tickets</a></li>{{end}}
                            {{if .Admin}}<li class="{{if .IsAdminStatus}}uk-active{{end}}"><a href="/status">Status</a></li>{{end}}  
                            <li class="{{if .IsIndex }}uk-active{{end}}"><a href="/">Home</a></li>
                            <li class="{{if .IsStats }}uk-active{{end}}"><a href="/stats">Stats</a></li>
                            {{if .User}}<li class="{{if .IsAddress }}uk-active{{end}}"><a href="/address">Address</a></li>{{end}}
                            {{if .User}}<li class="{{if .IsSettings }}uk-active{{end}}"><a href="/settings">Settings</a></li>{{end}}
                            {{if .User}}{{if .User.MultiSigAddress}}<li class="{{if .IsTickets }}uk-active{{end}}"><a href="/tickets">Tickets</a></li>{{end}}{{end}}
                            {{if .User}}{{if .User.MultiSigAddress}}<li class="{{if .IsVoting }}uk-active{{end}}"><a href="/voting">Voting</a></li>{{end}}{{end}}
                            {{if .User}}
                            <li><a href="/logout">Logout</a></li>
                            {{else}}
                            {{if .IsEmailUpdate }}<li><a href="/emailupdate">Email Update</a></li>{{end}}
                            {{if .IsEmailVerify }}<li><a href="/emailverify">Email Verification</a></li>{{end}}
                            {{if .IsPasswordReset }}<li><a href="/passwordreset">Password Reset</a></li>{{end}}
                            {{if .IsPasswordUpdate }}<li><a href="/passwordupdate">Password Update</a></li>{{end}}
                            <li><a href="/signin">Sign In</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{.Content}}
{{template "footer" .}}
{{end}}
