{{define "passwordupdate"}}
<div class="uk-container uk-margin-large-top">
    {{range .FlashSuccess}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.}}</p>
    </div>
    {{end}}
    {{if .FlashSuccess}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>You may now <a href="/signin">sign in</a> with your new password.</p>
    </div>
    {{end}}
    <h6>Password Update</h6>
    {{if not .FlashSuccess}}
    {{range .FlashError}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>You may now <a href="/signin">sign in</a> with your new password.</p>
    </div>
    {{end}}
    <div class="uk-flex-center" uk-grid>
        <form method="post" class="uk-form-stacked uk-width-1-2@m">
            <div class="uk-margin" style="{{if .FlashError}}display: none;{{end}}">
                <label for="password" class="uk-form-label">Please enter your password:</label>
                <div class="uk-form-controls">
                    <input name="password" type="password" class="uk-input" id="password" required>
                </div>
            </div>
            <div class="uk-margin" style="{{if .FlashError}}display: none;{{end}}">
                <label for="password" class="uk-form-label">Please repeat your password:</label>
                <div class="uk-form-controls">
                    <input name="passwordrepeat" type="password" class="uk-input" id="passwordrepeat" required>
                </div>
            </div>
            <div class="uk-margin uk-text-center" style="{{if .FlashError}}display: none;{{end}}">
                <button id="updatepassword" name="signin" class="uk-button uk-button-primary">Update Password</button>
            </div>
            <input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
        </form>
        {{end}}
    </div>
</div>
{{end}}

