{{define "passwordreset"}}
<div class="uk-container uk-margin-large-top">
    {{if .SMTPDisabled }}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Mail server not configured.  You will not receive an password reset link.</p>
    </div>
    {{end}}
    {{range .FlashError}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.}}</p>
    </div>
    {{end}}
    {{range .FlashSuccess}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.}}</p>
    </div>
    {{end}}
    <h6>Password Reset</h6>
    {{if .FlashSuccess}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Check your email inbox, and click the link in the email you received to reset your password.</p>
    </div>
    {{end}}
    <div class="uk-flex-center" uk-grid>
	    <form method="post" class="uk-form-stacked uk-width-1-2@m">
	        <div class="uk-margin" style="{{if .FlashSuccess}}display: none;{{end}}">
	            <label class="uk-form-label" for="inputEmail3">Email:</label>
	            <div class="uk-form-controls">
	                <input name="email" type="email" class="uk-input" id="email" placeholder="Email" required>
	            </div>
	        </div>
	        <div class="uk-margin uk-text-center" style="{{if .FlashSuccess}}display: none;{{end}}">
	            <div class="g-recaptcha" data-sitekey="{{.RecaptchaSiteKey}}" data-theme="light"></div>
	        </div>
	        <div class="uk-margin uk-text-center" style="{{if .FlashSuccess}}display: none;{{end}}">
	            <button id="resetpassword" name="signin" class="uk-button uk-button-primary">Reset Password</button>
	        </div>
	        <input type="hidden" name="{{.CsrfKey}}" value={{.CsrfToken}}>
	    </form>
	</div>
</div>
{{end}}
