{{define "stats"}}
<div class="uk-container page uk-margin-large-top stats">
    <h6>Pool stats</h6>
    <div class="uk-child-width-1-3@m uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Pool Votes</h3>
                    <div class="uk-text-right">
                        <div class="legend-box">
                            <label>Missed</label>
                            <div class="legend"></div>
                        </div>
                        <div class="legend-box">
                            <label>Votes</label>
                            <div class="legend legend1"></div>
                        </div>
                    </div>
                </div>
                <div id="test1"></div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Pool Tickets</h3>
                    <div class="uk-text-right">
                        <div class="legend-box">
                            <label>Live</label>
                            <div class="legend legend2"></div>
                        </div>
                        <div class="legend-box">
                            <label>Immature</label>
                            <div class="legend legend3"></div>
                        </div>
                    </div>
                </div>
                <div id="test2"></div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Stakepool vs Network Proportion</h3>
                    <div class="uk-text-right">
                        <div class="legend-box">
                            <label>Stakepool Ticket Pool</label>
                            <div class="legend legend4"></div>
                        </div>
                        <div class="legend-box">
                            <label>Network Ticket Pool</label>
                            <div class="legend legend5"></div>
                        </div>
                    </div>
                </div>
                <div id="test3"></div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-1@m" uk-grid>
        <div>
            <div class="uk-card uk-card-body uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Stats &amp; Status</h3>
                    <table class="uk-table">
                        <tbody>
                            <tr>
                                <td>Immature:</td>
                                <td><span id="Immature">{{ .StakeInfo.Immature }}</span></td>
                                <td>Live:</td>
                                <td><span id="Live">{{ .StakeInfo.Live }}</span></td>
                                <td>Voted:</td>
                                <td><span id="Voted">{{ .StakeInfo.Voted }}</span></td>
                            </tr>
                            <tr>
                                <td>Missed:</td>
                                <td><span id="Missed">{{ .StakeInfo.Missed }}</span></td>
                                <td>Expired:</td>
                                <td><span id="Expired">{{ .StakeInfo.Expired }}</span></td>
                                <td>Revoked:</td>
                                <td><span id="Revoked">{{ .StakeInfo.Revoked }}</span></td>
                            </tr>
                            <tr>
                                <td>ProportionMissed:</td>
                                <td><span id="ProportionMissed">{{ .StakeInfo.ProportionMissed }}</span></td>
                                <td>Pool Size:</td>
                                <td><span id="PoolSize">{{ .StakeInfo.PoolSize }}</span></td>
                                <td>AllMempoolTix:</td>
                                <td><span id="AllMempoolTix">{{ .StakeInfo.AllMempoolTix }}</span></td>
                            </tr>
                            <!-- disabled due to https://github.com/EXCCoin/exccwallet/issues/251
                                <tr><td>OwnMempoolTix:</td><td><span id="OwnMempoolTix">{{ .StakeInfo.OwnMempoolTix }}</td></tr>-->
                            <tr>
                                <td>ProportionLive:</td>
                                <td><span id="ProportionLive">{{ .StakeInfo.ProportionLive }}</span></td>
                                <td>Difficulty:</td>
                                <td><span id="Difficulty">{{ .StakeInfo.Difficulty }}</span></td>
                                <td>TotalSubsidy:</td>
                                <td><span id="TotalSubsidy">{{ .StakeInfo.TotalSubsidy }}</span></td>
                            </tr>
                            <tr>
                                <td>Total User Count:</td>
                                <td><span id="UserCount">{{ .UserCount }}</span></td>
                                <td>Active User Count:</td>
                                <td><span id="UserCountActive">{{ .UserCountActive }}</span></td>
                                <td>Network:</td>
                                <td><span id="Network">{{ .Network }}</span></td>
                            </tr>
                            <tr>
                                <td>Pool Fees:</td>
                                <td><span id="PoolFees">{{ .PoolFees }}</span></td>
                                <td>Pool Status:</td>
                                <td><span id="PoolStatus">{{ .PoolStatus }}</span></td>
                                <td>Pool Email:</td>
                                <td><span id="PoolEmail">{{ .PoolEmail }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
