@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inconsolata-v15-latin-regular.eot");
    src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url("../fonts/inconsolata-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inconsolata-v15-latin-regular.woff2") format("woff2"), url("../fonts/inconsolata-v15-latin-regular.woff") format("woff"), url("../fonts/inconsolata-v15-latin-regular.ttf") format("truetype"), url("../fonts/inconsolata-v15-latin-regular.svg#Inconsolata") format("svg")
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/source-sans-pro-v9-latin-regular.eot");
    src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("../fonts/source-sans-pro-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v9-latin-regular.woff2") format("woff2"), url("../fonts/source-sans-pro-v9-latin-regular.woff") format("woff"), url("../fonts/source-sans-pro-v9-latin-regular.ttf") format("truetype"), url("../fonts/source-sans-pro-v9-latin-regular.svg#SourceSansPro") format("svg")
}

body {
    color: #d2d7ff !important;
    background: #000038 url('../images/x.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #ffffff;
}

h6 {
    color: #d2d7ff !important;
    text-transform: uppercase;
}

 .g-recaptcha {
    display: inline-block;
}

.top {
    background-image: url('../images/header.jpg');
    background-position: center center;
    background-size: cover;
}

.uk-logo {
    width: 200px;
}

svg:not(:root) {
    overflow: visible !important
}

.pie-margin {
    margin-bottom: 125px
}

.uk-navbar-nav > li > a {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    padding: 20px 10px !important;
}

.uk-navbar-nav > li.uk-active > a, .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a.uk-open, .uk-navbar-nav > li > a:focus {
    color: #e01f9c;
}

.uk-card-title {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.uk-card-default {
    background-color: rgba(210,215,255,0.05);
    border: 1px solid rgba(210,215,255,0.1);
    border-radius: 4px;
    padding: 20px;
}

.uk-card-default .uk-card-title {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.uk-card-default i {
    color: rgba(210,215,255,0.2);
}

.uk-card-default p, .uk-card-default {
    color: #d2d7ff;
    font-size: 18px;
}

.uk-tab > * > a {
    color: #d2d7ff;
}

.uk-tab > .uk-active > a {
    color: #fff;
    border-color: rgba(210,215,255,0.1);
}

.uk-tab::before {
    border-bottom: 1px solid rgba(210,215,255,0.05);
}

:not(pre) > code, :not(pre) > kbd, :not(pre) > samp, pre {
    background: rgba(210,215,255,0.05);
    border: 1px solid rgba(210,215,255,0.1);
    color: #f0506e;
    padding: 10px;
    display: block;
    overflow: auto;
}

.uk-table-striped tbody tr:nth-of-type(2n+1), .uk-table-striped > tr:nth-of-type(2n+1) {
    background: rgba(210,215,255,0.05);
    border-top: 1px solid rgba(210,215,255,0.1);
    border-bottom: 1px solid rgba(210,215,255,0.1);
}

.uk-table th {
    color: #fff;
}

.uk-input {
    background: none;
    border-color: rgba(210,215,255,0.1);
    border-radius: 4px;
    color: #fff;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
    background: none;
    border-color: rgba(210,215,255,0.2);
    color: #fff;
}

.uk-button-default {
    border-color: rgba(210,215,255,0.1);
    border-radius: 4px;
    color: #fff;
}

.uk-button-default:hover {
    border-color: rgba(210,215,255,0.2);
    color: #fff;
}

.uk-offcanvas-bar {
    background-color: rgba(0,0,0,0.95);
}

.uk-offcanvas-bar .uk-nav-default > li > a {
    color: #fff;
}

.uk-form-label {
    color: #d2d7ff !important;
}

.stats .uk-card-default {
    padding: 0;
}

.uk-alert-primary {
    background: rgba(210,215,255,0.05);
    border: 1px solid rgba(210,215,255,0.1);
    color: #ffffff;
}

.uk-accordion-title {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.uk-accordion-title:focus, .uk-accordion-title:hover {
     color: #d2d7ff;
}

.uk-container.page {
    padding-bottom: 40px;
}

code {
    overflow: hidden;
    overflow-x: scroll;
}

footer {
    background-color: rgba(0,0,0,0.95);
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #d2d7ff;
    margin: 0
}

footer .excc {
    float: right;
}

.btn-primary {
    background: #FA5BAA;
    background: -webkit-linear-gradient(#FA78AF, #FA5BAA);
    background: -o-linear-gradient(#FA78AF, #FA5BAA);
    background: -moz-linear-gradient(#FA78AF, #FA5BAA);
    background: linear-gradient(#FA78AF, #FA5BAA);
    padding: 16px 28px;
    font-size: 1.73rem;
    border: 0
}

.btn-primary a {
    color: #d2d7ff;
    font-size: 1.73rem;
    text-decoration: none
}

.sign-in-row {
    margin-top: 100px
}

.sign-in-row .btn-primary {
    padding: 8px 25px
}

.sign-in-row h1 {
    margin-bottom: 35px
}

.form-horizontal .control-label {
    padding-top: 13px;
    color: #d2d7ff;
    font-size: 1.73rem
}

.form-control {
    height: 40px;
    font-size: 1.73rem;
    color: #FA5BAA;
    border: none;
    font-weight: bold;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-transition: border ease-in-out 0.15s;
    -o-transition: border ease-in-out 0.15s;
    transition: border ease-in-out 0.15s
}

.form-control:focus {
    border: 2px solid #FA5BAA
}

::-webkit-input-placeholder {
    color: #ccc !important
}

:-moz-placeholder {
    color: #ccc !important
}

::-moz-placeholder {
    color: #ccc !important
}

:-ms-input-placeholder {
    color: #ccc !important
}

.well p {
    color: #09182d;
    font-size: 2.0rem;
    overflow: hidden
}

.row-code {
    margin-top: 10px
}

#public-key-form {
    text-align: center;
    margin-top: 40px
}

#public-key-form .form-group {
    margin: 0
}

#public-key-form span {
    text-align: left;
    float: left;
    padding: 9px 0 0 0;
    color: #d2d7ff;
    font-size: 1.8rem
}

#public-key-form .btn-primary {
    padding: 10px 20px;
    height: 40px;
    vertical-align: top;
    float: right
}

#public-key-form .form-control {
    width: 65%;
    display: inline-block
}

.nvd3.nv-pie path {
    stroke-width: 0 !important;
    stroke-opacity: 0 !important
}

.pie-row h1 {
    position: absolute;
    font-size: 1.8rem
}

.pie-row h1 {
    position: absolute
}

.col-md-button {
    margin-left: 95px;
    float: left
}

.center-block {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important
}

.nv3d .nv-legend {
    transform: translate(72px, 30px)
}

.nvd3 text {
    fill: #d2d7ff;
    font-family: "Source Sans Pro", sans-serif !important
}

#test1,
#test2,
#test3 {
    text-align: center
}

text {
    font: 12px sans-serif
}

.piechart-1,
.piechart-2,
.piechart-3 {
    display: block;
    margin: auto;
    height: 400px !important;
    width: 400px !important;
    overflow: visible
}

.legend-box {
    line-height: 16px;
}

.legend-box label {
    font-size: 12px;
    color: #d2d7ff;
    text-align: right;
    width: 200px
}

.legend {
    width: 10px;
    height: 10px;
    border-radius: 90px;
    background-color: #f97257;
    display: inline-block;
    margin-left: 15px;
    float: right;
    margin-top: 4px
}

.legend1 {
    background-color: #4dbb5d
}

.legend2 {
    background-color: #4854a5
}

.legend3 {
    background-color: #85317b
}

.legend4 {
    background-color: #73d5f3
}

.legend5 {
    background-color: rgba(255,255,255,0.5);
}

#chart svg {
    height: 600px
}

.nv-label text {
    font-family: Droid Sans
}

.panel-control {
    background: transparent
}

.panel-control .panel-heading {
    background: transparent;
    color: #d2d7ff
}

hr {
    border-top: 1px solid rgba(210,215,255,0.1);
}
